@model Location
@{
    ViewData["Title"] = "Map Page";
}

<div class="text-center">
    <h1 class="display-4">MapView</h1>
    <script>
        function masterfunction() {
            document.getElementById('video_frame').src = "/Map.html?parcelid=1919402007";
            // 1919427020
        }
    </script>
    <button onclick="masterfunction()">Click me</button>

    <iframe src="~/Map.html?parcelid=@Model.ParcelId" height="400" width="600" id="video_frame"></iframe>
</div>
